.celldata td:nth-child(3n){
  border-right: 1px solid #e7e7e7;
}
.container{
  padding: 2%;
}
.footer td:first-child{
  text-align: right;
  font-weight: bold;
}
.footer td:last-child{
  text-align: right;
  font-weight: bold;
}
.footer td:nth-child(3n){
  border-right: 1px solid #e7e7e7;
}
.footer td:nth-child(3){
  font-weight: bold;
}
h1 {
  padding-left: 10px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}
.middle {
  height: 5px;
}
table {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.84);
}
table th{
  color: rgba(0, 0, 0, 0.40);
  padding: 12px;
}
table td{
 padding: 12px;
}
tr td:nth-child(2n){
font-size: 24px;
}
tr td:nth-child(1n+4){
  text-align: right;
}
